<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" ngModel id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" ngModel id="password" class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
  </div>
</div>